<section data-ng-controller="BlogsController" data-ng-init="findOne()">
	<div class="page-header">
        <h1 data-ng-bind="blog.name" data-ng-model="blogId"></h1>
	</div>

    <div>
        <div  class="col-md-8" data-ng-controller="ArticlesController" data-ng-init="findContent()">
            <div  data-ng-include="directionContent"  >
            </div>
        </div>

        <div class="col-md-4 jumbotron"  data-ng-controller="ArticlesController"  data-ng-init="articlesBlog()">
            <div class="list-group">

                <a data-ng-repeat="article in articles" data-ng-href="#!/blogs/{{blog._id}}/{{article._id}}" class="list-group-item">
                    <h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
                </a>
            </div>

        </div>
    </div>
    <footer class="col-md-12">
        <h1 align="center" > Este sera el pie de pagina</h1>

    </footer>
</section>
