
<section data-ng-controller="ArticlesController" data-ng-init="articlesPolitica()">
    <div>
        <h3 id="bestArticles" > Politica </h3>
        <a class="" data-ng-repeat="article in articles"
           data-ng-href="#!/articles/{{article._id}}" class="">
            <div class="jumbotron" id="articulos-item">
                <h3 data-ng-bind="article.title"></h3>
                <small>
                    <span data-ng-bind="article.userName"></span>
                </small>
                <h5 data-ng-bind="article.content.slice(1,300)"></h5>
            </div>
        </a>
    </div>
</section>